.card {
  /* Add shadows to create the "card" effect */
  margin: 10px;
  box-shadow: 0 4px 4px 0 #e7cfbc;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 6px 0 #f2b880;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/*card centering and display*/

.center {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  width: 60%;
  padding: 20px;
  border-radius: 2px;
  min-width: 250px;
}
