.card {
  /* Add shadows to create the "card" effect */
  margin: 10px;
  box-shadow: 2px 2px 0px 0 #e7cfbc;
  transition: 0.3s;
  min-height: 380px;
  position: relative;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 4px 4px 0px 0 #f2b880;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/*card centering and display*/
.center {
  background-color: #fffaf7;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  width: 60%;
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #6b8d9e;
  border-radius: 2px;
  min-width: 250px;
}

.pad {
  padding: 20px;
}
