.header {
  text-align: center;
}

.cartContainer {
  padding: 20px 70px;
}

.cartTitle {
  display: flex;
  border-top: #6b8d9e 1px dashed;
  border-bottom: #6b8d9e 1px dashed;
  padding: 13px 0;
}

.itemTitle {
  padding-left: 35px;
}

.quantTitle {
  padding-left: 700px;
}

.totalTitle {
  padding-left: 100px;
}

.continueDiv {
  position: absolute;
  right: 70px;
  padding: 25px 0;
}

.continueDiv a {
  background-color: #f2b880;
  color: white;
  text-align: center;
  padding: 10px 16px;
}

.continueDiv a:hover {
  background-color: #fffaf7;
  color: #6b8d9e;
}

.nomin {
  min-height: 100px;
}

.subTotal {
  display: flex;
  position: relative;
  left: 130px;
}

.paymentContainer {
  text-align: center;
}

dd {
  display: block;
  margin-left: 250px;
  float: right;
  font-size: 14px;
}
dt {
  float: left;
  clear: left;
  display: block;
  margin-right: 40px;
  font-weight: bolder;
  font-size: 18px;
}

.mt50 {
  margin-top: 70px;
}
