.dropDown {
  overflow: hidden;
  color: white;
  text-decoration: none;
  float: right;
  text-align: center;
  padding: 10px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.dropDown:hover {
  background-color: #fffaf7;
  color: #6b8d9e;
  font-size: 100%;
}

.dropDownContent {
  margin-top: 10px;
  display: none;
  position: absolute;
  color: white;
  background-color: #f2b880;
  z-index: 1;
}

.dropDown:hover .dropDownContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 0px 0 #6b8d9e;
}
