/*Css for my fancy button*/
button {
  background-color: #f2b880;
  color: #fffaf7;
  transition: 0.2s;
  border-color: #f2b880;
  border-radius: 0 3px 0px 3px;
}
button:hover {
  box-shadow: 0 1px 0px 3px #f2b880;
  letter-spacing: 0.5px;
}

button:active {
  letter-spacing: -0.5px;
}
button:focus {
  outline: none;
}
