img {
  height: 200px;
  width: 200px;
}

.price {
  font-weight: bolder;
  font-size: 20pt;
}

.itemDetailsContainer {
  display: flex;
  justify-content: space-evenly;
}

.short {
  min-height: 60px;
}
