body {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to right, #f2b880, #e7cfbc);
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

/*Changing hyperlink*/

a {
  color: #6b8d9e;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  font-size: 103%;
}
a:active {
  color: #3a405a;
}

.detailsLink:hover {
  font-size: 105%;
}

/*grid view of items*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.item-desc {
  font-size: 10px;
}
