body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff4ec;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

/* new adittion*/

.card {
  /* Add shadows to create the "card" effect */
  margin: 10px;
  box-shadow: 0 4px 4px 0 #e7cfbc;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 6px 0 #f2b880;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/*card centering and display*/

.center {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  width: 60%;
  padding: 20px;
  border-radius: 2px;
}

button {
  background-color: #f2b880;
  color: #fff4ec;
  transition: 0.3s;
  border-radius: 2px;
}

button:hover {
  box-shadow: 0 0px 2px 2px #f2b880;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.item-desc {
  font-size: 10px;
}
