.navcontainer {
  display: flex;
  justify-content: space-around;
}

.navbar {
  overflow: hidden;
  background-color: #f2b880;
  margin-bottom: 10px;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  float: right;
  text-align: center;
  padding: 10px 16px;
}

.navbar a:hover {
  background-color: #fffaf7;
  color: #6b8d9e;
  font-size: 100%;
}

.navbar a.active {
  background-color: brown;
  color: white;
}

.navbar input[type="text"] {
  background-color: #fffaf7;
  border: none;
  color: #6b8d9e;
  margin-top: 6px;
  padding: 5px 5px;
  font-size: 14px;
}
.navbar input[type="text"]:focus {
  outline: none;
}

.navbar select {
  border: none;
  margin-top: 10px;
  font-size: 14px;
}

.logOut {
  color: white;
  text-decoration: none;
  float: right;
  text-align: center;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.logOut:hover {
  background-color: #fffaf7;
  color: #6b8d9e;
  font-size: 100%;
}
