.navcontainer {
  display: flex;
  justify-content: space-around;
}

.navbar {
  overflow: hidden;
  background-color: #f2b880;
  margin-bottom: 10px;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  float: right;
  text-align: center;
  padding: 10px 16px;
}

.navbar a:hover {
  background-color: #fffaf7;
  color: #6b8d9e;
  font-size: 100%;
}

.navbar a.active {
  background-color: brown;
  color: white;
}

.navbar input[type="text"] {
  background-color: #fffaf7;
  border: none;
  color: #6b8d9e;
  margin-top: 6px;
  padding: 5px 5px;
  font-size: 14px;
}
.navbar input[type="text"]:focus {
  outline: none;
}

.navbar select {
  border: none;
  margin-top: 10px;
  font-size: 14px;
}

.logOut {
  color: white;
  text-decoration: none;
  float: right;
  text-align: center;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.logOut:hover {
  background-color: #fffaf7;
  color: #6b8d9e;
  font-size: 100%;
}

.toFront {
  height: 20px;
  z-index: 1000;
  justify-content: flex-start;
  margin-right: -90px;
  margin-left: -40px;
  margin-top: -10px;
}
.toFront img {
  height: 100px;
  width: 100px;
  transition: 10s;
  transition-timing-function: linear;
}

.arm {
  z-index: 1000000;
  margin-top: -150px;
  margin-left: 50px;
}

.arm img {
  height: 130px;
  width: 130px;
}

#armm {
  transition: 0.7s;
}

.toFront:hover #armm {
  transform: rotate(30deg);
}

.toFront:hover #record {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
