.invisible {
  display: none;
}

.visible {
  animation-name: appearingDiv;
  animation-duration: 2s;
  display: block;
}

@keyframes appearingDiv {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.reviewsContainer {
  width: 300px;
}

.normal {
  min-height: 40px;
  transition: min-height 1s;
}

.big {
  min-height: 264px;
}
